################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bookStore/.vs/bookStore
/bookStore/bookStore/obj
/bookStore/bookStore/bin/Debug/netcoreapp3.1
/bookStore/bookStore/wwwroot/lib
